* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans',sans-serif;
  background-color: #f2f2f2; }

header {
  height: 100vh;
  background-image: url(../img/encabezado.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .hero {
    width: 96%;
    margin: 0 auto; }
    header .hero .contenido-header {
      color: #fff;
      text-align: center;
      padding: 2rem; }
      header .hero .contenido-header .redes-sociales {
        text-align: center;
        font-size: 2.2rem; }
        header .hero .contenido-header .redes-sociales a {
          color: #fff;
          text-decoration: none;
          padding-right: 1rem; }
      header .hero .contenido-header .informacion-evento {
        margin-top: 5rem; }
        header .hero .contenido-header .informacion-evento .icons {
          display: flex;
          justify-content: space-evenly; }
          header .hero .contenido-header .informacion-evento .icons p {
            color: #fff;
            font-size: 1.8rem;
            text-align: center;
            display: inline-block; }
            header .hero .contenido-header .informacion-evento .icons p i {
              color: #cf2020;
              font-size: 2.6rem;
              margin-right: 1rem; }
        header .hero .contenido-header .informacion-evento .nombre-sitio {
          display: inline-block;
          font-size: 10vw;
          font-family: 'Open Sans', sans-serif;
          text-transform: uppercase;
          margin: 0; }
        header .hero .contenido-header .informacion-evento .slogan {
          font-size: 2rem;
          text-transform: lowercase; }
          header .hero .contenido-header .informacion-evento .slogan span {
            font-size: 2.2rem;
            font-weight: bold; }

.barra {
  background-color: #232323; }
  .barra .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    width: 96%;
    margin: 0 auto; }
    .barra .contenedor .logo img {
      width: 40vw;
      max-width: 30rem; }
    .barra .contenedor .menu-mobile {
      width: 6rem;
      display: block;
      text-align: right;
      margin-top: 1.2rem; }
      .barra .contenedor .menu-mobile:hover {
        cursor: pointer; }
      .barra .contenedor .menu-mobile span {
        height: 0.8rem;
        margin-bottom: 0.6rem;
        background-color: #f2f2f2;
        display: block; }
      @media (min-width: 768px) {
        .barra .contenedor .menu-mobile {
          display: none; } }
    .barra .contenedor .navegacion-principal a {
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 3rem;
      font-size: 1.6rem;
      color: #fff; }
      .barra .contenedor .navegacion-principal a:last-child {
        color: #fff;
        border: 3px solid #fe4918;
        margin: 0;
        padding: 2rem; }
      .barra .contenedor .navegacion-principal a:hover {
        background-color: #fe4918;
        padding: 1rem;
        transition: 0.8s; }
    @media (max-width: 768px) {
      .barra .contenedor .navegacion-principal {
        display: block;
        text-align: center; } }
  @media (max-width: 768px) {
    .barra .logo {
      margin: 0 auto; } }

.descripcion {
  height: 30rem;
  width: 96%;
  margin: 0 auto; }
  .descripcion h2 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem; }
  .descripcion h2::after {
    content: '';
    display: block;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
    background-image: url(../img/separador.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .descripcion p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 3rem; }

.programa {
  position: relative; }
  .programa .contenedor-video {
    max-width: 100%; }
    .programa .contenedor-video video {
      margin-top: 3rem;
      overflow-x: hidden; }
      @media (min-width: 768px) {
        .programa .contenedor-video video {
          width: 100%; } }
  .programa .contenido-programa {
    position: absolute;
    top: 12rem;
    left: 4rem;
    width: 100%;
    height: 100%;
    width: 96%;
    margin: 0 auto; }
    .programa .contenido-programa .contenedor {
      width: 80%;
      height: auto;
      margin: 0 auto;
      padding-bottom: 3.4rem;
      background-color: rgba(237, 231, 231, 0.537); }
      .programa .contenido-programa .contenedor .programa-evento {
        padding: 1.5rem; }
        .programa .contenido-programa .contenedor .programa-evento h2 {
          font-size: 3rem;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          text-align: center;
          padding: 2rem 0;
          margin-top: 4rem; }
        .programa .contenido-programa .contenedor .programa-evento h2::after {
          content: '';
          display: block;
          width: 8rem;
          height: 3rem;
          margin: 0 auto;
          background-image: url(../img/separador.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
        .programa .contenido-programa .contenedor .programa-evento .menu-programa {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-bottom: 1px solid #fe4918;
          padding: 1rem; }
          .programa .contenido-programa .contenedor .programa-evento .menu-programa a {
            text-align: center;
            text-decoration: none;
            color: #000;
            font-family: 'Oswald', sans-serif;
            font-size: 2.2rem; }
            .programa .contenido-programa .contenedor .programa-evento .menu-programa a i {
              font-size: 2.3rem;
              color: #fe4918;
              margin-right: 0.5rem; }
          @media (min-width: 768px) {
            .programa .contenido-programa .contenedor .programa-evento .menu-programa {
              display: table-cell; } }
      .programa .contenido-programa .contenedor .info-curso {
        padding: 3rem; }
        .programa .contenido-programa .contenedor .info-curso .detalle-evento h3 {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: #fe4918; }
        .programa .contenido-programa .contenedor .info-curso .detalle-evento p {
          font-size: 1.6rem;
          margin-bottom: 1rem; }
          .programa .contenido-programa .contenedor .info-curso .detalle-evento p i {
            color: #fe4918;
            font-size: 2.6rem;
            margin-right: 1rem; }
      .programa .contenido-programa .contenedor .button {
        color: #f2f2f2;
        background-color: #fe4918;
        font-size: 2rem;
        padding: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        float: right;
        text-decoration: none;
        text-transform: uppercase; }
        .programa .contenido-programa .contenedor .button:hover {
          background-color: #92290c;
          transition: 1s; }
      @media (min-width: 768px) {
        .programa .contenido-programa .contenedor {
          width: 30%;
          margin: 0; } }

.invitado h2 {
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
  margin-top: 4rem; }
.invitado h2::after {
  content: '';
  display: block;
  width: 8rem;
  height: 3rem;
  margin: 0 auto;
  background-image: url(../img/separador.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
.invitado ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10rem;
  list-style: none;
  padding: 0;
  margin: 0; }
  .invitado ul li .invitado {
    width: 80%;
    max-height: 28rem;
    margin: 0 auto 3rem auto;
    position: relative;
    overflow: hidden; }
    .invitado ul li .invitado img {
      max-width: 100%;
      filter: grayscale(1);
      transition: all .5s ease-in-out; }
    .invitado ul li .invitado img:hover {
      filter: grayscale(0);
      transform: scale(1.1); }
    .invitado ul li .invitado p {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 1.5rem 1.5rem;
      background-color: rgba(0, 0, 0, 0.55);
      color: #fe4918;
      width: 100%;
      text-align: left;
      font-size: 2rem;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      transition: all .5s ease-in-out; }

.contador {
  width: 100%;
  height: 50rem;
  margin: 5rem 0;
  background-image: url(../img/bg-resumen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.8);
  position: relative; }
  .contador .contenedor {
    position: absolute;
    top: 4.5rem;
    left: 2rem;
    width: 96%;
    margin: 0 auto; }
    .contador .contenedor .resumen-evento {
      padding: 12rem;
      display: flex;
      justify-content: space-between; }
      .contador .contenedor .resumen-evento li {
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        list-style: none;
        color: #f2f2f2;
        font-size: 2.4rem;
        font-family: 'Oswald',sans-serif; }
        @media (min-width: 768px) {
          .contador .contenedor .resumen-evento li {
            width: 50%; } }
        .contador .contenedor .resumen-evento li .numero {
          display: block;
          margin-bottom: 3rem;
          font-size: 10rem;
          color: #fe4918; }

.precios {
  width: 100%;
  height: auto; }
  .precios h2 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem; }
  .precios h2::after {
    content: '';
    display: block;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
    background-image: url(../img/separador.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .precios .card-price {
    display: flex;
    justify-content: center; }
    .precios .card-price .card {
      width: 30rem;
      height: 35rem;
      padding: 2rem;
      margin: 4rem;
      border: solid #fe4918 2px;
      font-size: 1.5rem;
      font-family: 'Oswald',sans-serif;
      text-align: center;
      text-transform: uppercase;
      transition: all .3s ease; }
      .precios .card-price .card .price {
        font-size: 6rem; }
      .precios .card-price .card p {
        margin-bottom: 2rem; }
      .precios .card-price .card .text::before {
        font-family: 'FontAwesome';
        content: '\f00c';
        display: inline-block;
        font-size: 2rem;
        padding: 0 0.5rem;
        color: #018b01; }
      .precios .card-price .card a {
        display: inline-block;
        width: 18rem;
        height: 6rem;
        border: solid #fe4918 0.2rem;
        color: #fe4918;
        font-size: 2rem;
        line-height: 5rem;
        text-align: center;
        text-decoration: none; }
    .precios .card-price .card:hover {
      transform: scale(1.1);
      border: solid 1px #fe4918;
      box-shadow: 0px 0px 50px #666; }
    .precios .card-price .card-2 {
      width: 35rem;
      height: 40rem; }
      .precios .card-price .card-2 .titulo-h3 {
        font-size: 2rem;
        color: #fe4918;
        margin-bottom: 1rem; }
      .precios .card-price .card-2 a {
        background-color: #fe4918;
        color: #f2f2f2; }
    .precios .card-price .card-3, .precios .card-price .card-1 {
      margin-top: 7rem;
      border: solid #e1e1e1; }
      .precios .card-price .card-3 .titulo-h3, .precios .card-price .card-1 .titulo-h3 {
        font-size: 2rem;
        color: #fe4918;
        margin-bottom: 1rem; }

.mapa {
  height: 30rem;
  background-color: midnightblue; }

.testimonio h2 {
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
  margin-top: 4rem; }
.testimonio h2::after {
  content: '';
  display: block;
  width: 8rem;
  height: 3rem;
  margin: 0 auto;
  background-image: url(../img/separador.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
.testimonio .testimonial {
  display: flex;
  justify-content: space-around; }
  .testimonio .testimonial blockquote {
    width: 40rem;
    height: auto;
    padding: 2rem;
    margin-bottom: 8rem;
    background-color: #fff;
    border: solid 3px #e1e1e1;
    font-family: 'Lato',sans-serif;
    position: relative; }
    .testimonio .testimonial blockquote p {
      font-size: 1.5rem;
      line-height: 2.8rem;
      padding-left: 5rem; }
    .testimonio .testimonial blockquote p::before {
      font-size: 3rem;
      font-family: 'FontAwesome';
      content: '\f10d';
      display: inline-block;
      color: #fe4918;
      position: absolute;
      left: 2rem;
      top: 1rem; }
    .testimonio .testimonial blockquote .info-testimonial {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-top: 2rem; }
      .testimonio .testimonial blockquote .info-testimonial img {
        width: 8rem;
        margin-right: 2rem;
        border-radius: 100%; }
      .testimonio .testimonial blockquote .info-testimonial cite {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        line-height: 3rem;
        color: #fe4918; }
        .testimonio .testimonial blockquote .info-testimonial cite span {
          display: block;
          text-transform: none;
          color: #000; }

.newsletter {
  width: 100%;
  height: auto;
  position: relative;
  font-family: 'lato' sans-serif; }
  .newsletter .background {
    width: 100%;
    height: 45rem;
    background-image: url(../img/bg-newsletter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6); }
  .newsletter .contenido {
    font-size: 5rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 33%; }
    .newsletter .contenido p {
      font-size: 2rem; }
    .newsletter .contenido h3 {
      font-size: 10rem;
      font-weight: bold;
      text-transform: uppercase; }
    .newsletter .contenido .button {
      display: inline-block;
      color: #fff;
      width: 20rem;
      margin-top: 4rem;
      padding: 1rem;
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      border: solid 2px #fff; }
    .newsletter .contenido .button:hover {
      background-color: #fe4918;
      transition: all  1s ease; }

.relog {
  width: 100%;
  height: 40rem;
  position: relative; }
  .relog h3 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem; }
  .relog h3::after {
    content: '';
    display: block;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
    background-image: url(../img/separador.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .relog .cuenta-regresiva {
    position: absolute;
    top: 4.5rem;
    left: 2rem;
    width: 96%;
    margin: 0 auto; }
    .relog .cuenta-regresiva .time {
      padding: 8rem;
      margin-bottom: 4rem;
      display: flex;
      justify-content: space-between; }
      .relog .cuenta-regresiva .time li {
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        list-style: none;
        color: #000;
        font-size: 2.4rem;
        font-family: 'Oswald',sans-serif; }
        @media (min-width: 768px) {
          .relog .cuenta-regresiva .time li {
            width: 50%; } }
        .relog .cuenta-regresiva .time li .numero {
          display: block;
          margin-bottom: 3rem;
          font-size: 10rem;
          color: #fe4918; }

.site-footer {
  width: 100%;
  height: auto;
  background-color: #353535;
  padding-top: 2rem; }
  .site-footer .contenedor {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto; }
    .site-footer .contenedor .informacion,
    .site-footer .contenedor .redes-sociales,
    .site-footer .contenedor .menu {
      width: 40rem;
      font-size: 1.2rem;
      font-family: 'Lato',sans-serif;
      line-height: 3rem;
      padding: 0 2rem;
      color: #fff; }
      .site-footer .contenedor .informacion h3,
      .site-footer .contenedor .redes-sociales h3,
      .site-footer .contenedor .menu h3 {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: 'Oswald',sans-serif; }
        .site-footer .contenedor .informacion h3 span,
        .site-footer .contenedor .redes-sociales h3 span,
        .site-footer .contenedor .menu h3 span {
          color: #fe4918; }
    .site-footer .contenedor .redes-sociales ul li {
      list-style: none; }
      .site-footer .contenedor .redes-sociales ul li span {
        color: #fe4918; }
    .site-footer .contenedor .menu .redes-sociales {
      display: flex;
      justify-content: left;
      padding: 0; }
      .site-footer .contenedor .menu .redes-sociales a {
        font-size: 3rem;
        margin-top: 2rem;
        margin-right: 2rem;
        color: #fff; }
  .site-footer .copyright {
    background-color: #2e2e2e;
    color: #fff;
    padding: 1rem 0;
    margin-top: 2rem; }

/*# sourceMappingURL=main.css.map */
